{% extends 'paginaWeb/base.html' %}
{% load static  %}

{% block content %}

<div class = 'my_super'>

  <div class = my_account_top>
    <h4 class = my_account_title>Please enter your details below</h4>
  </div>
  <div class = my_account_bottom>
  <form>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" required>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Surname" required>
    </div>
    <div class = "form-group">
    <input  onfocus="(this.type='date')" onblur="(this.type='text')"  class="form-control" id="birthday" class="form-control" placeholder = "Date of Birth" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Confirm Password" required>
    </div>
    <br>
    <div>
      <input type="checkbox" id="exampleCheck1" required>
      <label>I agree to the terms and conditions</label>
    </div>
    <div>
      <input type="checkbox"  id="exampleCheck1">
      <label>I would like to opt in for weekly newsletters and offers</label>
    </div>
    <br>
    <button type="submit" class="my_submit_button">Sign Up</button>
  </form>
 </div>
</div>
<br>
<hr>
<footer class= my_footer>
  <div>SmartMargins 2020

  </div>

  <div class="col-6 col-md">

         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Contact</a></li>
           <li><a class="text-muted" href="#">More About Us</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">

</footer>

{% endblock %}
