{% load static %}

<div class="container-fluid text-dark">
        <div class="row">
                <div class="col-12 col-xl-2 mt-2 mb-2 "> <center><a class=text-dark href= {% url 'dashboard' %}   >Dashboard</a></center> </div>
                <div class="col-12 col-xl-2 mt-2 mb-2"> <center><a class=text-dark href= {% url 'products' %}   >products</a></center> </div>
                <div class="col-12 col-xl-2 mt-2 mb-2"> <center><a class=text-dark href= {% url 'saleschannels' %}   >saleschannels</a> </center> </div>
                <div class="col-12 col-xl-2 mt-2 mb-2"> <center><a class=text-dark href= {% url 'competitors' %}   >competitors</a></center>  </div>
                <div class="col-12 col-xl-2 mt-2 mb-2"> <center><a class=text-dark href= {% url 'strategysettings' %}   >Strategy Settings</a></center>  </div>

        </div>
</div>
