{% extends 'paginaWeb/base.html' %}
{% load static  %}

{% block content %}
<div class = 'my_super'>

<!--style = 'color: #006600' -->

<div class = 'my_welcome_container'>
  <div class = 'my_top_container'>
    <h1 class = 'my_title'>Welcome</h1>
   </div>
   <div class = 'my_bottom_container'>
     <div>
     <h4  class = 'my_desc'>Here is some generic text

     </h4>

     </div>
   </div>
</div>

   <div class = 'my_container'>
     <div class = 'my_top_container'>
       <h1 class = 'my_title'>What We Offer</h1>
      </div>
      <div class = 'my_bottom_container'>
        <div>
        <h4  class = 'my_desc'>SmartMargins is an AI-powered bi-directional repricer
          that allows you as a merchant to automate price changes on Marketplaces
          and on your own ecommerce website, based on your competitors activity and market trends.
          <br><br><br>
          <a class="btn btn-outline-secondary" href="#">Learn More</a>
        </h4>

        </div>
      </div>
   </div>
 <!--style = 'color: #ffb3d9'-->
   <div class = 'my_testimony_container'>
     <div class = 'my_top_container'>
       <h1 class = 'my_title'>Testimonial</h1>
      </div>
      <div class = 'my_bottom_container'>
        <div class = 'my_desc'>
          <div>
            <h4 class = 'my_testimony'>'Since we use SmartMargins to automatically reprice thousands of SKUs
            on Amazon and thriftify.ie <b>our sales have increased by 45.5% in the first year!</b>'
           </h4>
           <b class = 'my_testimony_client'>Rónán Ó Dálaigh</b><br>
           <i class = 'my_testimony_client'>Thriftify</i>
         </div>
      </div>
   </div>

</div>
<hr>
<br>
<footer>
  <div>SmartMargins 2020

  </div>

  <div class="col-6 col-md">

         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Contact</a></li>
           <li><a class="text-muted" href="#">More About Us</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">

</footer>


{% endblock %}
