



.bordeTitulo
{
    background-color:rgba(66,119,187,1);
    
}

.bordebarra
{
    background-color:rgba(0,76,139,1);
}

.borde2
{
    text-align:center;
    background-color:olivedrab;
}

.borde3
{
    text-align:center;
    background-color:orangered;
}



.wrapper {
    display: flex;
    width: 100%;
}

